.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    

}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:var(--line);

    //Para que se agreguen uno a lado del otro
    display: flex;
    //Se distribuye el espacio entre los elementos
    justify-content: space-between;
    //alinearlos lo mejor posible 
    align-items: center;
}

.content{

    display: flex;

}

.sidebar{
    background-color: var(--color-grey-dark-1);
    //primer cero no queremos que crezcan los elemento , 0 no se reduce, ancho%
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: #fff;

    //Elemento cresca tanto como pueda
    //Alto del cuadro
    //height: 80rem;
    flex: 1;
    
}

///////////Detalles 
.detail{
    font-size: 1.4rem;
    display:flex;
    padding: 4.5rem;
    //background-color: var(--color-grey-dark-1);
    background-color: var(--color-grey-light-1);
    border-bottom: var(--lines);
}

.description{

    //background-color: palevioletred;
    background-color: #fff;
    //sombra
    //box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex:0 0 60%;
    margin-right: 4.5rem;

}

.user-reviews{
 

    flex:1;
}
